<div class="container flex flex--column flex--align-center flex--justify-center">
    <div class="form__title-block">
        <h3 class="form__title text-align--center">Please, enter the following information:</h3>
        <p class="form__subtitle text-align--center">* All fields are required, formats are indicated below.</p>
    </div>
    <form name="signUpForm" novalidate>
        <div class="field__wrapper flex flex--column flex--align-start flex--justify-center">
            <label class="field__label" for="first_name">Enter your first name</label>
            <input class="field__input" placeholder="Enter your first name here" type="text" name="first_name" ng-model="signUpCtrl.loginInfo.first_name" required>
            <span class="field__warning" ng-if="signUpForm.first_name.$error.required && signUpForm.first_name.$touched">First name is required</span>
        </div>
        <div class="field__wrapper flex flex--column flex--align-start flex--justify-center">
            <label class="field__label" for="last_name">Enter your last name</label>
            <input class="field__input" placeholder="Enter your last name here" type="text" name="last_name" ng-model="signUpCtrl.loginInfo.last_name" required>
            <span class="field__warning" ng-if="signUpForm.last_name.$error.required && signUpForm.last_name.$touched">Last name is required</span>
        </div>
        <div class="field__wrapper flex flex--column flex--align-start flex--justify-center">
            <label class="field__label" for="email">Enter your email</label>
            <input class="field__input" placeholder="Enter a valid email in the xxxxxxxx@xxxxx.xxx format" type="email" name="email" ng-model="signUpCtrl.loginInfo.email" required>
            <span class="field__warning" ng-if="(signUpForm.email.$error.required && signUpForm.email.$touched) || (signUpForm.email.$invalid && signUpForm.email.$touched)">Email is required and must be correctly formatted</span>
        </div>
        <div class="field__wrapper flex flex--column flex--align-start flex--justify-center">
            <label class="field__label" for="phone">Enter your phone</label>
            <input class="field__input" type="text" placeholder="Enter your phone in the ###-###-### format" pattern="(\d{3})-(\d{3})-(\d{3})" name="phone" ng-model="signUpCtrl.loginInfo.phone" min-length="11" max-length="11" required>
            <span class="field__warning" ng-if="signUpForm.phone.$touched && signUpForm.phone.$invalid">Phone is required and must respond to the following format: ###-###-###</span>
        </div>
        <div class="field__wrapper flex flex--column flex--align-start flex--justify-center">
            <label class="field__label" for="favorite_dish">Enter your favorite dish</label>
            <input class="field__input" type="text" name="favorite_dish" placeholder="Enter a valid dish code here" min-length="2" max-length="3" ng-model="signUpCtrl.loginInfo.favorite_dish" shortnames="{{ signUpCtrl.menuItemShortnames }}" shortname="signUpCtrl.loginInfo.favorite_dish" required>
            <span class="field__warning" ng-if="signUpForm.favorite_dish.$error.required && signUpForm.favorite_dish.$touched">A valid dish short name is mandatory</span>
            <span class="field__warning" ng-if="signUpForm.favorite_dish.$error.shortnames">No such menu number exists</span>
        </div>
        <div class="button__block flex flex--row flex--align-center flex--justify-center">
            <button class="button__button" ng-disabled="signUpForm.$invalid" ng-click="signUpCtrl.signUp()">Submit my info</button>
        </div>
        <div class="form__success" ng-if="signUpCtrl.isSaved">
            <p>Your information has been saved</p>
        </div>
    </form>
</div>
